{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Array & String</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Array & String</div>
        <hr>
        <div class = "heading-two">C++ Strings</div>
        <div class = "text">
          Strings are used for storing text.
          <br>
          <br>
          A <code class = "code-words">string</code> variable contains a collection of characters surrounded by double quotes:
          <br>
          <br>
          Example
          <br>
          Create a variable of type string and assign it a value:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string greeting = "Hello";
            </div>
          </div>
        </div>
        <div class = "text">
          To use strings, you must include an additional header file in the source code, the <code class = "code-words">&lt;string&gt;</code> library:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Include the string library
              <br>
              #include <string>
              <br>
              // Create a string variable
              <br>
              string greeting = "Hello";
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">String Concatenation</div>
        <div class = "text">
          The <code class = "code-words">+</code> operator can be used between strings to add them together to make a new string. This is called concatenation:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string firstName = "John ";
              <br>
              string lastName = "Doe";
              <br>
              string fullName = firstName + lastName;<br>
              <br>
              cout << fullName;
            </div>
          </div>
        </div>
        <div class = "text">
          In the example above, we added a space after firstName to create a space between John and Doe on output. However, you could also add a space with quotes (<code class = "code-words">"&nbsp;"</code> or <code class = "code-words">'&nbsp;'</code>):
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string firstName = "John";
              <br>
              string lastName = "Doe";
              <br>
              string fullName = firstName + " " + lastName;
              <br>
              cout << fullName;
              <br>
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Append</div>
        <div class = "text">
          A string in C++ is actually an object, which contain functions that can perform certain operations on strings. For example, you can also concatenate strings with the <code class = "code-words">append()</code> function:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string firstName = "John ";
              <br>
              string lastName = "Doe";
              <br>
              string fullName = firstName.append(lastName);
              <br>
              cout << fullName;
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Adding Numbers and Strings</div>
        <div class = "text">
          WARNING!
          <br>
          <br>
          C++ uses the + operator for both addition and concatenation.
          <br>
          <br>
          Numbers are added. Strings are concatenated.
          <br>
          <br>
          If you add two numbers, the result will be a number:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int x = 10;
              <br>
              int y = 20;
              <br>
              int z = x + y;      // z will be 30 (an integer)
            </div>
          </div>
        </div>
        <div class = "text">
          If you add two strings, the result will be a string concatenation:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string x = "10";
              <br>
              string y = "20";
              <br>
              string z = x + y;   // z will be 1020 (a string)
            </div>
          </div>
        </div>
        <div class = "text">
          If you try to add a number to a string, an error occurs:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string x = "10";
              <br>
              int y = 20;
              <br>
              string z = x + y; 
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">String Length</div>
        <div class = "text">
          To get the length of a string, use the <code class = "code-words">length()</code> function:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string txt = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
              <br>
              cout << "The length of the txt string is: " << txt.length();
            </div>
          </div>
        </div>
        <div class = "text">
          Tip: You might see some C++ programs that use the <code class = "code-words">size()</code> function to get the length of a string. This is just an alias of <code class = "code-words">length()</code>. It is completely up to you if you want to use <code class = "code-words">length()</code> or <code class = "code-words">size()</code>:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string txt = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
              <br>
              cout << "The length of the txt string is: " << txt.size();
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Access Strings</div>
        <div class = "text">
          You can access the characters in a string by referring to its index number inside square brackets <code class = "code-words">[]</code>.
          <br>
          <br>
          This example prints the first character in myString:
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string myString = "Hello";
              <br>
              cout << myString[0];
              <br>
              // Outputs H
            </div>
          </div>
        </div>
        <div class = "note">
          <div class = "text">
            Note: String indexes start with 0: [0] is the first character. [1] is the second character, etc.
          </div>
        </div>
        <div class = "text">
          This example prints the second character in myString:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string myString = "Hello";
              <br>
              cout << myString[1];
              <br>
              // Outputs e
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Change String Characters</div>
        <div class = "text">
          To change the value of a specific character in a string, refer to the index number, and use single quotes:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string myString = "Hello";
              <br>
              myString[0] = 'J';
              <br>
              cout << myString;
              <br>
              // Outputs Jello instead of Hello
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Strings - Special Characters</div>
        <div class = "text">Because strings must be written within quotes, C++ will misunderstand this string, and generate an error:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string txt = "We are the so-called "Vikings" from the north.";
            </div>
          </div>
        </div>
        <div class = "text">
          The solution to avoid this problem, is to use the backslash escape character.
          <br>
          <br>
          The backslash (<code class = "code-words">\</code>) escape character turns special characters into string characters:
        </div>
        <table>
          <tr>
            <th>Escape character</th>
            <th>Result</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>\'</td>
            <td>'</td>
            <td>Single quote</td>
          </tr>
          <tr>
            <td>\"</td>
            <td>"</td>
            <td>Double quote</td>
          </tr>
          <tr>
            <td>\\</td>
            <td>\</td>
            <td>Backslash</td>
          </tr>
        </table>
        <div class = "text">
          The sequence <code class = "code-words">\"</code> inserts a double quote in a string:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string txt = "We are the so-called \"Vikings\" from the north.";
            </div>
          </div>
        </div>
        <div class = "text">
          The sequence <code class = "code-words">\'</code> inserts a single quote in a string:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string txt = "It\'s alright.";
            </div>
          </div>
        </div>
        <div class = "text">
          The sequence <code class = "code-words">\\</code> inserts a single backslash in a string:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string txt = "The character \\ is called backslash.";
            </div>
          </div>
        </div>
        <div class = "text">Other popular escape characters in C++ are:</div>
        <table>
          <tr>
            <th>Escape Character</th>
            <th>Result</th>
          </tr>
          <tr>
            <td>\n</td>
            <td>New Line</td>
          </tr>
          <tr>
            <td>\t</td>
            <td>Tab</td>
          </tr>
        </table>
        <hr>
        <div class = "heading-two">User Input Strings</div>
        <div class = "text">
          It is possible to use the extraction operator <code class = "code-words">>></code> on <code class = "code-words">cin</code> to store a string entered by a user:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string firstName;.
              <br>
              cout << "Type your first name: ";
              <br>
              cin >> firstName; // get user input from the keyboard
              <br>
              cout << "Your name is: " << firstName;
              <br>
              <br>
              // Type your first name: John
              <br>
              // Your name is: John
            </div>
          </div>
        </div>
        <div class = "text">
          However, <code class = "code-words">cin</code> considers a space (whitespace, tabs, etc) as a terminating character, which means that it can only store a single word (even if you type many words):
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string fullName;
              <br>
              cout << "Type your full name: ";
              <br>
              cin >> fullName;
              <br>
              cout << "Your name is: " << fullName;
              <br>
              <br>
              // Type your full name: John Doe
              <br>
              // Your name is: John
            </div>
          </div>
        </div>
        <div class = "text">
          From the example above, you would expect the program to print "John Doe", but it only prints "John".
          <br>
          <br>
          That's why, when working with strings, we often use the <code class = "code-words">getline()</code> function to read a line of text. It takes <code class = "code-words">cin</code> as the first parameter, and the string variable as second:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string fullName;
              <br>
              cout << "Type your full name: ";
              <br>
              getline (cin, fullName);
              <br>
              cout << "Your name is: " << fullName;
              <br>
              <br>
              // Type your full name: John Doe
              // Your name is: John Doe
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Omitting Namespace</div>
        <div class = "text">
          You might see some C++ programs that runs without the standard namespace library. The <code class = "code-words">using namespace std</code> line can be omitted and replaced with the <code class = "code-words">std</code> keyword, followed by the <code class = "code-words">::</code> operator for <code class = "code-words">string</code> (and <code class = "code-words">cout</code>) objects:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              #include &lt;iostream&gt;
              <br>
              #include &lt;string&gt;
              <br>
              <br> 
              int main() {
                <br>
                &nbsp;&nbsp;std::string greeting = "Hello";
                <br>
                &nbsp;&nbsp;std::cout << greeting;
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "note">
          <div class = "text">It is up to you if you want to include the standard namespace library or not.</div>
        </div>
        <hr>
        <div class = "heading-two">C++ Arrays</div>
        <div class = "text">
          Arrays are used to store multiple values in a single variable, instead of declaring separate variables for each value.
          <br>
          <br>
          To declare an array, define the variable type, specify the name of the array followed by square brackets and specify the number of elements it should store:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[4];
            </div>
          </div>
        </div>
        <div class = "text">We have now declared a variable that holds an array of four strings. To insert values to it, we can use an array literal - place the values in a comma-separated list, inside curly braces:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[4] = {"Volvo", "BMW", "Ford", "Mazda"};
            </div>
          </div>
        </div>
        <div class = "text">To create an array of three integers, you could write:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNum[3] = {10, 20, 30};
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Access the Elements of an Array</div>
        <div class = "text">
          You access an array element by referring to the index number inside square brackets <code class = "code-words">[]</code>.
          <br>
          <br>
          This statement accesses the value of the first element in cars:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[4] = {"Volvo", "BMW", "Ford", "Mazda"};
              <br>
              cout << cars[0];
              <br>
              // Outputs Volvo
            </div>
          </div>
        </div>
        <div class = "note">
          <div class = "text">Note: Array indexes start with 0: [0] is the first element. [1] is the second element, etc.</div>
        </div>
        <hr>
        <div class = "heading-two">Change an Array Element</div>
        <div class = "text">To change the value of a specific element, refer to the index number:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              cars[0] = "Opel";
            </div>
          </div>
        </div>
        <div class = "text">Example</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[4] = {"Volvo", "BMW", "Ford", "Mazda"};
              <br>
              cars[0] = "Opel";
              <br>
              cout << cars[0];
              <br>
              // Now outputs Opel instead of Volvo
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Loop Through an Array</div>
        <div class = "text">
          You can loop through the array elements with the for loop.
          <br>
          <br>
          The following example outputs all elements in the cars array:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[5] = {"Volvo", "BMW", "Ford", "Mazda", "Tesla"};
              <br>
              for (int i = 0; i < 5; i++) {
                <br>
                &nbsp;&nbsp;cout << cars[i] << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          This example outputs the index of each element together with its value:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[5] = {"Volvo", "BMW", "Ford", "Mazda", "Tesla"};
              <br>
              for (int i = 0; i < 5; i++) {
                <br>
                &nbsp;&nbsp;cout << i << " = " << cars[i] << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          And this example shows how to loop through an array of integers:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              for (int i = 0; i < 5; i++) {
                <br>
                &nbsp;&nbsp;cout << myNumbers[i] << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">The foreach Loop</div>
        <div class = "text">
          There is also a "for-each loop" (introduced in C++ version 11 (2011), which is used exclusively to loop through elements in an array:
          <br>
          <br>
          Syntax
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              for (type variableName : arrayName) {
                <br>
                &nbsp;&nbsp;// code block to be executed
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          The following example outputs all elements in an array, using a "for-each loop":
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              for (int i : myNumbers) {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Omit Array Size</div>
        <div class = "text">In C++, you don't have to specify the size of the array. The compiler is smart enough to determine the size of the array based on the number of inserted values:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[] = {"Volvo", "BMW", "Ford"}; // Three array elements
            </div>
          </div>
        </div>
        <div class = "text">The example above is equal to:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[3] = {"Volvo", "BMW", "Ford"}; // Also three array elements
            </div>
          </div>
        </div>
        <div class = "text">However, the last approach is considered as "good practice", because it will reduce the chance of errors in your program.</div>
        <hr>
        <div class = "heading-two">Omit Elements on Declaration</div>
        <div class = "text">
          It is also possible to declare an array without specifying the elements on declaration, and add them later:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string cars[5];
              <br>
              cars[0] = "Volvo";
              <br>
              cars[1] = "BMW";
              <br>
              ...
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Get the Size of an Array</div>
        <div class = "text">
          To get the size of an array, you can use the <code class = "code-words">sizeof()</code> operator:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              cout << sizeof(myNumbers);
              <br>
              <br>
              //Result: 20
            </div>
          </div>
        </div>
        <div class = "text">
          Why did the result show <code class = "code-words">20</code> instead of <code class = "code-words">5</code>, when the array contains 5 elements?
          <br>
          <br>
          It is because the <code class = "code-words">sizeof()</code> operator returns the size of a type in bytes.
          <br>
          <br>
          You learned from the Data Types chapter that an <code class = "code-words">int</code> type is usually 4 bytes, so from the example above, 4 x 5 (4 bytes x 5 elements) = 20 bytes.
          <br>
          <br>
          To find out how many elements an array has, you have to divide the size of the array by the size of the data type it contains:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              int getArrayLength = sizeof(myNumbers) / sizeof(int);
              <br>
              cout << getArrayLength;
              <br>
              <br>
              //Result: 5
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Loop Through an Array with sizeof()</div>
        <div class = "text">
          In the Arrays and Loops Chapter, we wrote the size of the array in the loop condition (<code class = "code-words">i < 5</code>). This is not ideal, since it will only work for arrays of a specified size.
          <br>
          <br>
          However, by using the <code class = "code-words">sizeof()</code> approach from the example above, we can now make loops that work for arrays of any size, which is more sustainable.
          <br>
          <br>
          Instead of writing:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              for (int i = 0; i < 5; i++) {
                <br>
                &nbsp;&nbsp;cout << myNumbers[i] << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          It is better to write:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              for (int i = 0; i < sizeof(myNumbers) / sizeof(int); i++) {
                <br>
                &nbsp;&nbsp;cout << myNumbers[i] << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          Note that, in C++ version 11 (2011), you can also use the "for-each" loop:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              for (int i : myNumbers) {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
            }
            </div>
          </div>
        </div>
        <div class = "note">
          <div class = "text">It is good to know the different ways to loop through an array, since you may encounter them all in different programs.</div>
        </div>
        <hr>
        <div class = "heading-two">Change Elements in a Multi-Dimensional Array</div>
        <div class = "text">
          To change the value of an element, refer to the index number of the element in each of the dimensions:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string letters[2][4] = {
                <br>
                &nbsp;&nbsp;{ "A", "B", "C", "D" },
                <br>
                &nbsp;&nbsp;{ "E", "F", "G", "H" }
                <br>
              };
              <br>
              letters[0][0] = "Z";
              <br>
              <br>
              cout << letters[0][0];  // Now outputs "Z" instead of "A"
            </div>
          </div>
        </div>
        <hr>
        <div class = "text">
          To loop through a multi-dimensional array, you need one loop for each of the array's dimensions.
          <br>
          <br>
          The following example outputs all elements in the letters array:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string letters[2][4] = {
                <br>
                &nbsp;&nbsp;{ "A", "B", "C", "D" },
                <br>
                &nbsp;&nbsp;{ "E", "F", "G", "H" }
                <br>
              };
              <br>
              <br>
              for (int i = 0; i < 2; i++) {
                <br>
                &nbsp;&nbsp;for (int j = 0; j < 4; j++) {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;cout << letters[i][j] << "\n";
                  <br>
                &nbsp;&nbsp;}
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          This example shows how to loop through a three-dimensional array:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string letters[2][2][2] = {
                <br>
                &nbsp;&nbsp;{
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;{ "A", "B" },
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;{ "C", "D" }
                  <br>
                &nbsp;&nbsp;},
                <br>
                &nbsp;&nbsp;{
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;{ "E", "F" },
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;{ "G", "H" }
                  <br>
                &nbsp;&nbsp;}
                <br>
              };
              <br>
              <br>
              for (int i = 0; i < 2; i++) {
                <br>
                &nbsp;&nbsp;for (int j = 0; j < 2; j++) {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;for (int k = 0; k < 2; k++) {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << letters[i][j][k] << "\n";
                    <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
                  <br>
                &nbsp;&nbsp;}
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Why Multi-Dimensional Arrays?</div>
        <div class = "text">
          Multi-dimensional arrays are great at representing grids. This example shows a practical use for them. In the following example we use a multi-dimensional array to represent a small game of Battleship:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // We put "1" to indicate there is a ship.
              <br>
              bool ships[4][4] = {
                <br>
                &nbsp;&nbsp;{ 0, 1, 1, 0 },
                <br>
                &nbsp;&nbsp;{ 0, 0, 0, 0 },
                <br>
                &nbsp;&nbsp;{ 0, 0, 1, 0 },
                <br>
                &nbsp;&nbsp;{ 0, 0, 1, 0 }
              };
              <br>
              <br>
              // Keep track of how many hits the player has and how many turns they have played in these variables
              int hits = 0;
              int numberOfTurns = 0;
              <br>
              <br>
              // Allow the player to keep going until they have hit all four ships
              while (hits < 4) {
                &nbsp;&nbsp;int row, column;
                <br>
                <br>
                &nbsp;&nbsp;cout << "Selecting coordinates\n";
                <br>
                <br>
                &nbsp;&nbsp;// Ask the player for a row
                <br>
                &nbsp;&nbsp;cout << "Choose a row number between 0 and 3: ";
                <br>
                &nbsp;&nbsp;cin >> row;
                <br>
                <br>
                &nbsp;&nbsp;// Ask the player for a column
                <br>
                &nbsp;&nbsp;cout << "Choose a column number between 0 and 3: ";
                <br>
                &nbsp;&nbsp;cin >> column;
                <br>
                <br>
                &nbsp;&nbsp;// Check if a ship exists in those coordinates
                <br>
                &nbsp;&nbsp;if (ships[row][column]) {
                  <br>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// If the player hit a ship, remove it by setting the value to zero.
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;ships[row][column] = 0;
                  <br>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Increase the hit counter
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;hits++;
                  <br>
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Tell the player that they have hit a ship and how many ships are left
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;cout << "Hit! " << (4-hits) << " left.\n\n";
                <br>
                &nbsp;&nbsp;} else {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Tell the player that they missed
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;cout << "Miss\n\n";
                <br>
                &nbsp;&nbsp;}
                <br>
                <br>
                &nbsp;&nbsp;// Count how many turns the player has taken
                <br>
                &nbsp;&nbsp;numberOfTurns++;
              <br>
            }
            <br>
            <br>
            cout << "Victory!\n";
            <br>
            cout << "You won in " << numberOfTurns << " turns";
            </div>
          </div>
        </div>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'References'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Control Flow – Loop'%}'"> Previous </button>    
    </main>
{% endblock %}