{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Classes and Objects</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Classes and Objects</div>
        <hr>
        <div class = "heading-two">C++ What is OOP?</div>
        <div class = "text">
          OOP stands for Object-Oriented Programming.
          <br>
          <br>
          Procedural programming is about writing procedures or functions that perform operations on the data, while object-oriented programming is about creating objects that contain both data and functions.
          <br>
          <br>
          Object-oriented programming has several advantages over procedural programming:
        </div>
        <ul>
          <li>OOP is faster and easier to execute</li>
          <li>OOP provides a clear structure for the programs</li>
          <li>OOP helps to keep the C++ code DRY "Don't Repeat Yourself", and makes the code easier to maintain, modify and debug</li>
          <li>OOP makes it possible to create full reusable applications with less code and shorter development time</li>
        </ul>
        <div class = "text">Tip: The "Don't Repeat Yourself" (DRY) principle is about reducing the repetition of code. You should extract out the codes that are common for the application, and place them at a single place and reuse them instead of repeating it.</div>
        <hr>
        <div class = "heading-two">C++ What are Classes and Objects?</div>
        <div class = "text">
          Classes and objects are the two main aspects of object-oriented programming.
          <br>
          <br>
          Look at the following example to see the difference between class and objects:
          <br>
          <br>
          class:&nbsp;&nbsp;&nbsp;&nbsp;Fruit
          <br>
          objects:&nbsp;&nbsp;&nbsp;&nbsp;Apple&nbsp;&nbsp;&nbsp;&nbsp;Banana&nbsp;&nbsp;&nbsp;&nbsp;Mango
          <br>
          <br>
          Another example:
          <br>
          class:&nbsp;&nbsp;&nbsp;&nbsp;Car
          <br>
          objects:&nbsp;&nbsp;&nbsp;&nbsp;Volvo&nbsp;&nbsp;&nbsp;&nbsp;Audi&nbsp;&nbsp;&nbsp;&nbsp;Toyota
          <br>
          <br>
          So, a class is a template for objects, and an object is an instance of a class.
          <br>
          <br>
          When the individual objects are created, they inherit all the variables and functions from the class.
        </div>
        <hr>
        <div class = "heading-two">C++ Classes/Objects</div>
        <div class = "text">
          C++ is an object-oriented programming language.
          <br>
          <br>
          Everything in C++ is associated with classes and objects, along with its attributes and methods. For example: in real life, a car is an object. The car has attributes, such as weight and color, and methods, such as drive and brake.
          <br>
          <br>
          Attributes and methods are basically variables and functions that belongs to the class. These are often referred to as "class members".
          <br>
          <br>
          A class is a user-defined data type that we can use in our program, and it works as an object constructor, or a "blueprint" for creating objects.
        </div>
        <hr>
        <div class = "heading-two">Create a Class</div>
        <div class = "text">
          To create a class, use the <code class = "code-words">class</code> keyword:
          <br>
          <br>
          Example
          <br>
          Create a class called <code class = "code-words">"MyClass"</code>:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              class MyClass {&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// The class
                <br>
                &nbsp;&nbsp;public:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Access specifier
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;int myNum;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Attribute (int variable)
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;string myString;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Attribute (string variable)
                <br>
              };
            </div>
          </div>
        </div>
        <div class = "note">
          <div class = "text">Example explained</div>
          <ul>
            <li>The <code class = "code-words">class</code> keyword is used to create a class called <code class = "code-words">MyClass</code>.</li>
            <li>The <code class = "code-words">public</code> keyword is an access specifier, which specifies that members (attributes and methods) of the class are accessible from outside the class. </li>
            <li>Inside the class, there is an integer variable <code class = "code-words">myNum</code> and a string variable <code class = "code-words">myString</code>. When variables are declared within a class, they are called attributes.</li>
            <li>At last, end the class definition with a semicolon <code class = "code-words">;</code>.</li>
          </ul>
        </div>
        <hr>
        <div class = "heading-two">Create an Object</div>
        <div class = "text">
          In C++, an object is created from a class. We have already created the class named <code class = "code-words">MyClass</code>, so now we can use this to create objects.
          <br>
          <br>
          To create an object of <code class = "code-words">MyClass</code>, specify the class name, followed by the object name.
          <br>
          <br>
          To access the class attributes (<code class = "code-words">myNum</code> and <code class = "code-words">myString</code>), use the dot syntax (<code class = "code-words">.</code>) on the object:
          <br>
          <br>
          Example
          <br>
          Create an object called "<code class = "code-words">myObj</code>" and access the attributes:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              class MyClass {&nbsp;&nbsp;&nbsp;&nbsp;// The class
                <br>
                &nbsp;&nbsp;public:&nbsp;&nbsp;&nbsp;&nbsp;// Access specifier
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int myNum;&nbsp;&nbsp;&nbsp;&nbsp;// Attribute (int variable)
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;string myString;&nbsp;&nbsp;&nbsp;&nbsp;// Attribute (string variable)
                  <br>
              };
              <br>
              <br>
              int main() {
                <br>
                &nbsp;&nbsp;MyClass myObj;  // Create an object of MyClass
                <br>
                <br>
                &nbsp;&nbsp;// Access attributes and set values
                <br>
                &nbsp;&nbsp;myObj.myNum = 15; 
                <br>
                &nbsp;&nbsp;myObj.myString = "Some text";
                <br>
                <br>
                &nbsp;&nbsp;// Print attribute values
                <br>
                &nbsp;&nbsp;cout << myObj.myNum << "\n";
                <br>
                &nbsp;&nbsp;cout << myObj.myString;
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Multiple Objects</div>
        <div class = "text">
          You can create multiple objects of one class:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Create a Car class with some attributes
              <br>
              class Car {
                <br>
                &nbsp;&nbsp;public:
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;string brand;   
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;string model;
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int year;
              };
              <br>
              <br>
              int main() { 
                &nbsp;&nbsp;// Create an object of Car
                <br>
                &nbsp;&nbsp;Car carObj1;
                <br>
                &nbsp;&nbsp;carObj1.brand = "BMW";
                <br>
                &nbsp;&nbsp;carObj1.model = "X5";
                <br>
                &nbsp;&nbsp;carObj1.year = 1999;
                <br>
                <br>
                &nbsp;&nbsp;// Create another object of Car
                <br>
                &nbsp;&nbsp;Car carObj2;
                <br>
                &nbsp;&nbsp;carObj2.brand = "Ford";
                <br>
                &nbsp;&nbsp;carObj2.model = "Mustang";
                <br>
                &nbsp;&nbsp;carObj2.year = 1969;
                <br>
                <br>
                &nbsp;&nbsp;// Print attribute values
                <br>
                &nbsp;&nbsp;cout << carObj1.brand << " " << carObj1.model << " " << carObj1.year << "\n";
                <br>
                &nbsp;&nbsp;cout << carObj2.brand << " " << carObj2.model << " " << carObj2.year << "\n";
                <br>
                &nbsp;&nbsp;return 0; 
                <br>
              }
            </div>
          </div>
        </div>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Class Methods'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Structures'%}'"> Previous </button>    
    </main>
{% endblock %}