{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Structures</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Structures (struct)</div>
        <hr>
        <div class = "heading-two">C++ Structures</div>
        <div class = "text">
          Structures (also called structs) are a way to group several related variables into one place. Each variable in the structure is known as a member of the structure.
          <br>
          <br>
          Unlike an array, a structure can contain many different data types (int, string, bool, etc.).
        </div>
        <hr>
        <div class = "heading-two">Create a Structure</div>
        <div class = "text">
          To create a structure, use the <code class = "code-words">struct</code> keyword and declare each of its members inside curly braces.
          <br>
          <br>
          After the declaration, specify the name of the structure variable (myStructure in the example below):
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              struct {&nbsp;&nbsp;&nbsp;&nbsp;// Structure declaration
                <br>
                &nbsp;&nbsp;int myNum;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp// Member (int variable)
                <br>
                &nbsp;&nbsp;string myString;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp// Member (string variable)
                <br>
              } myStructure;&nbsp;&nbsp;&nbsp;&nbsp;// Structure variable
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Access Structure Members</div>
        <div class = "text">
          o access members of a structure, use the dot syntax (<code class = "code-words">.</code>):
          <br>
          <br>
          Example
          <br>Assign data to members of a structure and print it:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Create a structure variable called myStructure
              <br>
              struct {
                <br>
                int myNum;
                <br>
                string myString;
                <br>
            } myStructure;
            <br>
            <br>
            // Assign values to members of myStructure
            <br>
            myStructure.myNum = 1;
            <br>
            myStructure.myString = "Hello World!";
            <br>
            <br>
            // Print members of myStructure
            <br>
            cout << myStructure.myNum << "\n";
            <br>
            cout << myStructure.myString << "\n";
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">One Structure in Multiple Variables</div>
        <div class = "text">You can use a comma (<code class = "code-words">,</code>) to use one structure in many variables:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              struct {
                <br>
                &nbsp;&nbsp;int myNum;
                <br>
                &nbsp;&nbsp;string myString;
                <br>
              } myStruct1, myStruct2, myStruct3; // Multiple structure variables separated with commas
            </div>
          </div>
        </div>
        <div class = "text">
          This example shows how to use a structure in two different variables:
          <br>
          <br>
          Example
          <br>
          Use one structure to represent two cars:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              struct {
                <br>
                &nbsp;&nbsp;string brand;
                <br>
                &nbsp;&nbsp;string model;
                <br>
                &nbsp;&nbsp;int year;
                <br>
              } myCar1, myCar2; // We can add variables by separating them with a comma here
              <br>
              <br>
              // Put data into the first structure
              <br>
              myCar1.brand = "BMW";
              <br>
              myCar1.model = "X5"; 
              <br>
              myCar1.year = 1999;
              <br>
              <br>
              // Put data into the second structure
              <br>
              myCar2.brand = "Ford";
              <br>
              myCar2.model = "Mustang";
              <br>
              myCar2.year = 1969;
              <br>
              <br>
              // Print the structure members
              <br>
              cout << myCar1.brand << " " << myCar1.model << " " << myCar1.year << "\n";
              <br>
              cout << myCar2.brand << " " << myCar2.model << " " << myCar2.year << "\n";
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Named Structures</div>
        <div class = "text">
          By giving a name to the structure, you can treat it as a data type. This means that you can create variables with this structure anywhere in the program at any time.
          <br>
          <br>
          To create a named structure, put the name of the structure right after the <code class = "code-words">struct</code> keyword:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              struct myDataType { // This structure is named "myDataType"
              <br>
              &nbsp;&nbsp;int myNum;
              <br>
              &nbsp;&nbsp;string myString;
              <br>
            };
            </div>
          </div>
        </div>
        <div class = "text">To declare a variable that uses the structure, use the name of the structure as the data type of the variable:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              myDataType myVar;
            </div>
          </div>
        </div>
        <div class = "text">
          Example
          <br>
          Use one structure to represent two cars:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Declare a structure named "car"
              <br>
              struct car {
                <br>
                &nbsp;&nbsp;string brand;
                <br>
                &nbsp;&nbsp;string model;
                <br>
                &nbsp;&nbsp;int year;
                <br>
              };
              <br>
              <br>
              int main() {
                <br>
                &nbsp;&nbsp;// Create a car structure and store it in myCar1;
                <br>
                &nbsp;&nbsp;car myCar1;
                <br>
                &nbsp;&nbsp;myCar1.brand = "BMW";
                <br>
                &nbsp;&nbsp;myCar1.model = "X5";
                <br>
                &nbsp;&nbsp;myCar1.year = 1999;
                <br>
                <br>
                &nbsp;&nbsp;// Create another car structure and store it in myCar2;
                <br>
                &nbsp;&nbsp;car myCar2;
                <br>
                &nbsp;&nbsp;myCar2.brand = "Ford";
                <br>
                &nbsp;&nbsp;myCar2.model = "Mustang";
                <br>
                &nbsp;&nbsp;myCar2.year = 1969;
                <br>
                <br>
                &nbsp;&nbsp;// Print the structure members
                <br>
                &nbsp;&nbsp;cout << myCar1.brand << " " << myCar1.model << " " << myCar1.year << "\n";
                <br>
                &nbsp;&nbsp;cout << myCar2.brand << " " << myCar2.model << " " << myCar2.year << "\n";
                <br>
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Classes and Objects'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Recursion'%}'"> Previous </button>    
    </main>
{% endblock %}