{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Generics</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Generics</div>
        <hr>
        <div class = "text">
          Generics is the idea to allow type (Integer, String, … etc and user-defined types) to be a parameter to methods, classes and interfaces. For example, classes like an array, map, etc, which can be used using generics very efficiently. We can use them for any type.
          <br>
          <br>
          The method of Generic Programming is implemented to increase the efficiency of the code. Generic Programming enables the programmer to write a general algorithm which will work with all data types. It eliminates the need to create different algorithms if the data type is an integer, string or a character.
          <br>
          <br>
          The advantages of Generic Programming are
        </div>
        <ul>
          <li>Code Reusability</li>
          <li>Avoid Function Overloading</li>
          <li>Once written it can be used for multiple times and cases.</li>
        </ul>
        <div class = "text">Generics can be implemented in C++ using Templates. Template is a simple and yet very powerful tool in C++. The simple idea is to pass data type as a parameter so that we don’t need to write the same code for different data types. For example, a software company may need sort() for different data types. Rather than writing and maintaining the multiple codes, we can write one sort() and pass data type as a parameter.</div>
        <hr>
        <div class = "heading-two">Generic Functions using Template</div>
        <div class = "text">We write a generic function that can be used for different data types. Examples of function templates are sort(), max(), min(), printArray()</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              #include &lt;iostream&gt;
              <br>
              using namespace std; 
              <br>
                
              <br>
              // One function works for all data types. 
              <br>
              // This would work even for user defined types 
              <br>
              // if operator '>' is overloaded 
              <br>
              template &lt;typename T&gt;
              <br>
                
              <br>
              T myMax(T x, T y) 
              <br>
              { 
                <br>
                &nbsp;&nbsp;return (x > y) ? x : y; 
                <br>
              } 
              <br>
                
              <br>
              int main() 
              <br>
              { 
                <br>
              
                <br>
                &nbsp;&nbsp;// Call myMax for int 
                <br>
                &nbsp;&nbsp;cout << myMax&lt;int&gt;(3, 7) << endl; 
                  <br>
              
                  <br>
                  &nbsp;&nbsp;// call myMax for double 
                  <br>
                  &nbsp;&nbsp;cout << myMax&lt;double&gt;(3.0, 7.0) << endl; 
                    <br>
              
                    <br>
                    &nbsp;&nbsp;// call myMax for char 
                    <br>
                    &nbsp;&nbsp;cout << myMax&lt;char&gt;('g', 'e') << endl; 
                      <br>
              
                      <br>
                      &nbsp;&nbsp; return 0; 
                      <br>
                    }
                <br>
                /*&nbsp;&nbsp;Output:
                <br>
                7
                <br>
                7
                <br>
                g
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*/
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Generic Class using Template</div>
        <div class = "text">
          Like function templates, class templates are useful when a class defines something that is independent of data type. Can be useful for classes like LinkedList, binary tree, Stack, Queue, Array, etc.
          <br>
          <br>
          Following is a simple example of template Array class.
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              #include &lt;iostream&gt;
              <br>
              using namespace std; 
              <br>
                 
              <br>
              template &lt;typename T&gt;
                <br>
              class Array { 
                <br>
                &nbsp;&nbsp;private: 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;T* ptr; 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;int size; 
                <br>
              
                <br>
                &nbsp;&nbsp;public: 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Array(T arr[], int s); 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;void print(); 
                <br>
              }; 
              <br>
                
              <br>
              template &lt;typename T&gt;
                <br>
              Array&lt;T&gt;::Array(T arr[], int s) 
                <br>
              { 
                <br>
                &nbsp;&nbsp;ptr = new T[s]; 
                <br>
                &nbsp;&nbsp;size = s; 
                <br>
                &nbsp;&nbsp;for (int i = 0; i < size; i++) 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;ptr[i] = arr[i]; 
                <br>
              } 
              <br>
              
              <br>
              template &lt;typename T&gt;
                <br>
              void Array&lt;T&gt;::print() 
                <br>
              { 
                <br>
                &nbsp;&nbsp;for (int i = 0; i < size; i++) 
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;cout << " " << *(ptr + i); 
                <br>
                &nbsp;&nbsp;cout << endl; 
                <br>
              } 
              <br>
               
              <br>
              int main() 
              <br>
              { 
                <br>
                &nbsp;&nbsp;int arr[5] = { 1, 2, 3, 4, 5 }; 
                <br>
                &nbsp;&nbsp;Array&lt;int&gt; a(arr, 5); 
                  <br>
                  &nbsp;&nbsp;a.print(); 
                  <br>
                  &nbsp;&nbsp;return 0; 
                  <br>
                } 
                <br>
                <br>
                // Output: 1 2 3 4 5
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Working with multi-type Generics</div>
        <div class = "text">We can pass more than one data types as arguments to templates. The following example demonstrates the same.</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              #include &lt;iostream&gt;
              <br>
              using namespace std; 
              <br>
              <br>
              template <class T, class U> 
              <br>
              class A { 
                <br>
                &nbsp;&nbsp;T x; 
                <br>
                &nbsp;&nbsp;U y; 
                <br>
                <br>
                &nbsp;&nbsp;public: 
                <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;A() 
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;{ 
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Constructor Called" << endl; 
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;} 
                  <br>
                }; 
                <br>
              
                <br>
                int main() 
                <br>
                { 
                  <br>
                  &nbsp;&nbsp;A<char, char> a; 
                    <br>
                    &nbsp;&nbsp;A<int, double> b; 
                      <br>
                      &nbsp;&nbsp;return 0; 
                      <br>
                    } 
              <br>
              <br>
              /* Output:
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;Constructor Called
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;Constructor Called&nbsp;&nbsp;&nbsp;&nbsp;
              <br>
              */
              <br>
            </div>
          </div>
        </div>
      <div></div>
      <button class ="next" onclick="window.location.href='#'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Files Handling'%}'"> Previous </button>    
    </main>
{% endblock %}