{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Access Specifiers</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Access Specifiers</div>
        <hr>
        <div class = "heading-two">Access Specifiers</div>
        <div class = "text">
          By now, you are quite familiar with the <code class = "code-words">public</code> keyword that appears in all of our class examples:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              class MyClass {  // The class
                &nbsp;&nbsp;public:&nbsp;&nbsp;&nbsp;&nbsp;// Access specifier
                  &nbsp;&nbsp;&nbsp;&nbsp;// class members goes here
              };
            </div>
          </div>
        </div>
        <div class = "text">
          The <code class = "code-words">public</code> keyword is an access specifier. Access specifiers define how the members (attributes and methods) of a class can be accessed. In the example above, the members are <code class = "code-words">public</code> - which means that they can be accessed and modified from outside the code.
          <br>
          <br>
          However, what if we want members to be private and hidden from the outside world?
          <br>
          <br>
          In C++, there are three access specifiers:
        </div>
        <ul>
          <li><code class = "code-words">public</code> - members are accessible from outside the class</li>
          <li><code class = "code-words">private</code> - members cannot be accessed (or viewed) from outside the class</li>
          <li><code class = "code-words">protected</code> - members cannot be accessed from outside the class, however, they can be accessed in inherited classes. You will learn more about Inheritance later.</li>
        </ul>
        <div class = "text">
          In the following example, we demonstrate the differences between <code class = "code-words">public</code> and <code class = "code-words">private</code> members:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              class MyClass {
                <br>
                &nbsp;&nbsp;public:&nbsp;&nbsp;&nbsp;&nbsp;// Public access specifier
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int x;&nbsp;&nbsp;&nbsp;&nbsp;// Public attribute
                  <br>
                &nbsp;&nbsp;private:&nbsp;&nbsp;&nbsp;&nbsp;// Private access specifier
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int y;&nbsp;&nbsp;&nbsp;&nbsp;// Private attribute
                  <br>
              };
              <br>
              <br>
              int main() { 
                <br>
                &nbsp;&nbsp;MyClass myObj;
                <br>
                &nbsp;&nbsp;myObj.x = 25;&nbsp;&nbsp;&nbsp;&nbsp;// Allowed (public)
                <br>
                &nbsp;&nbsp;myObj.y = 50;&nbsp;&nbsp;&nbsp;&nbsp;// Not allowed (private)
                <br>
                &nbsp;&nbsp;return 0; 
                <br>
              }
              <br>
              // If you try to access a private member, an error occurs:
              <br>
              // error: y is private
            </div>
          </div>
        </div>
        <div class = "note">
          <div class = "text">
            Note: It is possible to access private members of a class using a public method inside the same class. See the next chapter (Encapsulation) on how to do this.
            <br>
            <br>
            Tip: It is considered good practice to declare your class attributes as private (as often as you can). This will reduce the possibility of yourself (or others) to mess up the code. This is also the main ingredient of the Encapsulation concept, which you will learn more about in the next chapter.
          </div>
      </div>
      <div class = "text">
        Note: By default, all members of a class are <code class = "code-words">private</code> if you don't specify an access specifier:
        <br>
        <br>
        Example
      </div>
      <div class="outer-container">
        <i class="fas fa-code code-icon"></i>
        <div class="code-box">
          <div class="code-content">
            class MyClass {
              <br>
              &nbsp;&nbsp;int x;&nbsp;&nbsp;&nbsp;&nbsp;// Private attribute
              <br>
              &nbsp;&nbsp;int y;&nbsp;&nbsp;&nbsp;&nbsp;// Private attribute
              <br>
            };
          </div>
        </div>
      </div>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Constructors'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Class Methods'%}'"> Previous </button>    
    </main>
{% endblock %}