{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Loop</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Control Flow – Loop</div>
        <hr>
        <div class = "heading-two">C++ Loops</div>
        <div class = "text">
          Loops can execute a block of code as long as a specified condition is reached.
          <br>
          <br>
          Loops are handy because they save time, reduce errors, and they make code more readable.
        </div>
        <hr>
        <div class = "heading-two">C++ While Loop</div>
        <div class = "text">
          The <code class = "code-words">while</code> loop loops through a block of code as long as a specified condition is <code class = "code-words">true</code>:
          <br>
          <br>
          Syntax
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              while (condition) {
                <br>
                &nbsp;&nbsp;// code block to be executed
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          In the example below, the code in the loop will run, over and over again, as long as a variable (<code class = "code-words">i</code>) is less than 5:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int i = 0;
              while (i < 5) {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
                &nbsp;&nbsp;i++;
              <br>
              }
            </div>
          </div>
        </div>
        <div class = "note">Note: Do not forget to increase the variable used in the condition, otherwise the loop will never end!</div>
        <hr>
        <div class = "heading-two">The Do/While Loop</div>
        <div class = "text">
          The <code class = "code-words">do/while</code> loop is a variant of the <code class = "code-words">while</code> loop. This loop will execute the code block once, before checking if the condition is true, then it will repeat the loop as long as the condition is true.
          <br>
          <br>
          Syntax
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              do {
                <br>
                &nbsp;&nbsp;// code block to be executed
                <br>
              }
              <br>
              while (condition);
            </div>
          </div>
        </div>
        <div class = "text">
          The example below uses a <code class = "code-words">do/while</code> loop. The loop will always be executed at least once, even if the condition is false, because the code block is executed before the condition is tested:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int i = 0;
              <br>
              do {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
                &nbsp;&nbsp;i++;
                <br>
              }
              <br>
              while (i < 5);
            </div>
          </div>
        </div>
        <div class = "note">Do not forget to increase the variable used in the condition, otherwise the loop will never end!</div>
        <hr>
        <div class = "heading-two">C++ For Loop</div>
        <div class = "text">
          When you know exactly how many times you want to loop through a block of code, use the <code class = "code-words">for</code> loop instead of a <code class = "code-words">while</code> loop:
          <br>
          <br>
          Syntax
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              for (statement 1; statement 2; statement 3) {
                <br>
                &nbsp;&nbsp;// code block to be executed
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          Statement 1 is executed (one time) before the execution of the code block.
          <br>
          <br>
          Statement 2 defines the condition for executing the code block.
          <br>
          <br>
          Statement 3 is executed (every time) after the code block has been executed.
          <br>
          <br>
          The example below will print the numbers 0 to 4:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              for (int i = 0; i < 5; i++) {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          Example explained
          <br>
          <br>
          Statement 1 sets a variable before the loop starts (int i = 0).
          <br>
          <br>
          Statement 2 defines the condition for the loop to run (i must be less than 5). If the condition is true, the loop will start over again, if it is false, the loop will end.
          <br>
          <br>
          Statement 3 increases a value (i++) each time the code block in the loop has been executed.
        </div>
        <hr>
        <div class = "text">
          Another Example
          <br>
          <br>
          This example will only print even values between 0 and 10:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              for (int i = 0; i <= 10; i = i + 2) {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Nested Loops</div>
        <div class = "text">
          It is also possible to place a loop inside another loop. This is called a nested loop.
          <br>
          <br>
          The "inner loop" will be executed one time for each iteration of the "outer loop":
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Outer loop
              <br>
              for (int i = 1; i <= 2; ++i) {
                <br>
                &nbsp; &nbsp;cout << "Outer: " << i << "\n"; // Executes 2 times
                <br>
                <br>
                &nbsp; &nbsp;// Inner loop
                <br>
                &nbsp; &nbsp;for (int j = 1; j <= 3; ++j) {
                  <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;cout << " Inner: " << j << "\n"; // Executes 6 times (2 * 3)
                  <br>
                &nbsp; &nbsp;}
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">The foreach Loop</div>
        <div class = "text">There is also a "for-each loop" (introduced in C++ version 11 (2011), which is used exclusively to loop through elements in an array (or other data sets):
          <br>
          <br>
          Syntax
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              for (type variableName : arrayName) {
                <br>
                &nbsp;&nbsp;// code block to be executed
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          The following example outputs all elements in an array, using a "for-each loop":
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int myNumbers[5] = {10, 20, 30, 40, 50};
              <br>
              for (int i : myNumbers) {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">C++ Break</div>
        <div class = "text">
          You have already seen the <code class = "code-words">break</code> statement used in an earlier chapter of this tutorial. It was used to "jump out" of a <code class = "code-words">switch</code> statement.
          <br>
          <br>
          The <code class = "code-words">break</code> statement can also be used to jump out of a loop.
          <br>
          <br>
          This example jumps out of the loop when <code class = "code-words">i</code> is equal to 4:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              for (int i = 0; i < 10; i++) {
                <br>
                &nbsp;&nbsp;if (i == 4) {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;break;
                  <br>
                &nbsp;&nbsp;}
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">C++ Continue</div>
        <div class = "text">
          The <code class = "code-words">continue</code> statement breaks one iteration (in the loop), if a specified condition occurs, and continues with the next iteration in the loop.
          <br>
          <br>
          This example skips the value of 4:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              for (int i = 0; i < 10; i++) {
                <br>
                &nbsp;&nbsp;if (i == 4) {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;continue;
                  <br>
                &nbsp;&nbsp;}
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Break and Continue in While Loop</div>
        <div class = "text">
          You can also use <code class = "code-words">break</code> and <code class = "code-words">continue</code> in while loops:
          <br>
          <br>
          Break Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int i = 0;
              <br>
              while (i < 10) {
                <br>
                &nbsp;&nbsp;cout << i << "\n";
                <br>
                &nbsp;&nbsp;i++;
                <br>
                &nbsp;&nbsp;if (i == 4) {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;break;
                  <br>
                  &nbsp;&nbsp;}
                  <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">Continue Example</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int i = 0;
              <br>
              while (i < 10) {
                <br>
                &nbsp;&nbsp;if (i == 4) {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;i++;
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;continue;
                  <br>
                  &nbsp;&nbsp;}
                  <br>
                  &nbsp;&nbsp;cout << i << "\n";
                  <br>
                  &nbsp;&nbsp;i++;
                  <br>
              }
            </div>
          </div>
        </div>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Array & String'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Control Flow – Condition'%}'"> Previous </button>    
    </main>
{% endblock %}