{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Files Handling</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Files Handling</div>
        <hr>
        <div class = "heading-two">C++ Files</div>
        <div class = "text">
          The <code class = "code-words">fstream</code> library allows us to work with files.
          <br>
          <br>
          To use the <code class = "code-words">fstream</code> library, include both the standard <code class = "code-words">&lt;iostream&gt;</code> AND the <code class = "code-words">&lt;fstream&gt;</code> header file:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              #include &lt;iostream&gt;
              <br>
              #include &lt;fstream&gt;
            </div>
          </div>
        </div>
        <div class = "text">There are three classes included in the <code class = "code-words">fstream</code> library, which are used to create, write or read files:</div>
        <table>
          <tr>
            <th>Class</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><code class = "code-words">ofstream</code></td>
            <td>Creates and writes to files</td>
          </tr>
          <tr>
            <td><code class = "code-words">ifstream</code></td>
            <td>Reads from files</td>
          </tr>
          <tr>
            <td><code class = "code-words">fstream</code></td>
            <td>A combination of ofstream and ifstream: creates, reads, and writes to files</td>
          </tr>
        </table>
        <hr>
        <div class = "heading-two">Create and Write To a File</div>
        <div class = "text">
          To create a file, use either the <code class = "code-words">ofstream</code> or <code class = "code-words">fstream</code> class, and specify the name of the file.
          <br>
          <br>
          To write to the file, use the insertion operator (<code class = "code-words"><<</code>).
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
  <i class="fas fa-code code-icon"></i>
  <div class="code-box">
    <div class="code-content">
      #include &lt;iostream&gt;
      <br>
      #include &lt;fstream&gt;
      <br>
      using namespace std;
      <br>
      <br>
      int main() { 
        <br>
        &nbsp;&nbsp;// Create and open a text file
        <br>
        &nbsp;&nbsp;ofstream MyFile("filename.txt");
        <br>
        <br>
        &nbsp;&nbsp;// Write to the file
        <br>
        &nbsp;&nbsp;MyFile << "Files can be tricky, but it is fun enough!";
        <br>
        <br>
        &nbsp;&nbsp;// Close the file
        <br>
        &nbsp;&nbsp;MyFile.close();
        <br>
        &nbsp;&nbsp;return 0; 
        <br>
      }
    </div>
  </div>
</div>
<div class = "note">
  Why do we close the file?
  <br>
  <br>
  It is considered good practice, and it can clean up unnecessary memory space.
</div>
<hr>
<div class = "heading-two">Read a File</div>
<div class = "text">
  To read from a file, use either the <code class = "code-words">ifstream</code> or <code class = "code-words">fstream</code> class, and the name of the file.
  <br>
  <br>
  Note that we also use a <code class = "code-words">while</code> loop together with the <code class = "code-words">getline()</code> function (which belongs to the <code class = "code-words">ifstream</code> class) to read the file line by line, and to print the content of the file:
  <br>
  <br>
  Example
</div>
<div class="outer-container">
  <i class="fas fa-code code-icon"></i>
  <div class="code-box">
    <div class="code-content">
      // Create a text string, which is used to output the text file
      <br>
      string myText;
      <br>
      <br>
      // Read from the text file
      <br>
      ifstream MyReadFile("filename.txt");
      <br>
      <br>
      // Use a while loop together with the getline() function to read the file line by line
      <br>
      while (getline (MyReadFile, myText)) {
      <br>
        &nbsp;&nbsp;// Output the text from the file
      <br>
        &nbsp;&nbsp;cout << myText;
      <br>
      }
      <br>
      <br>
      // Close the file
      <br>
       MyReadFile.close();
    </div>
  </div>
</div>
<div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Generics'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Exceptions Handling'%}'"> Previous </button>    
    </main>
{% endblock %}