{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Data Types</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Encapsulation</div>
        <hr>
        <div class = "heading-two">Encapsulation</div>
        <div class = "text">The meaning of Encapsulation, is to make sure that "sensitive" data is hidden from users. To achieve this, you must declare class variables/attributes as <code class = "code-words">private</code> (cannot be accessed from outside the class). If you want others to read or modify the value of a private member, you can provide public get and set methods.</div>
        <hr>
        <div class = "heading-two">Access Private Members</div>
        <div class = "text">
          To access a private attribute, use public "get" and "set" methods:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              #include &lt;iostream&gt;
              <br>
              using namespace std;
              <br>
              <br>
              class Employee {
                <br>
                &nbsp;&nbsp;private:
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;// Private attribute
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;int salary;
                <br>
                <br>
                &nbsp;&nbsp;public:
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;// Setter
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;void setSalary(int s) {
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;salary = s;
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Getter
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int getSalary() {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return salary;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;}
                    <br>
              };
              <br>
              <br>
              int main() {
                &nbsp;&nbsp;Employee myObj;
                <br>
                &nbsp;&nbsp;myObj.setSalary(50000);
                <br>
                &nbsp;&nbsp;cout << myObj.getSalary();
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "text">
          Example explained
          <br>
          <br>
          The <code class = "code-words">salary</code> attribute is <code class = "code-words">private</code>, which have restricted access.
          <br>
          <br>
          The public <code class = "code-words">setSalary()</code> method takes a parameter (<code class = "code-words">s</code>) and assigns it to the <code class = "code-words">salary</code> attribute (salary = s).
          <br>
          <br>
          The public <code class = "code-words">getSalary()</code> method returns the value of the private <code class = "code-words">salary</code> attribute.
          <br>
          <br>
          Inside <code class = "code-words">main()</code>, we create an object of the <code class = "code-words">Employee</code> class. Now we can use the <code class = "code-words">setSalary()</code> method to set the value of the private attribute to <code class = "code-words">50000</code>. Then we call the <code class = "code-words">getSalary()</code> method on the object to return the value.
        </div>
        <hr>
        <div class = "heading-two">Why Encapsulation?</div>
        <ul>
          <li>It is considered good practice to declare your class attributes as private (as often as you can). Encapsulation ensures better control of your data, because you (or others) can change one part of the code without affecting other parts</li>
          <li>Increased security of data</li>
        </ul>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Inheritance and Polymorphism'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Constructors'%}'"> Previous </button>    
    </main>
{% endblock %}