{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Operators</title>
{% endblock %}
{% block content %}
      <main class="content">
        <div class = "heading-one">C++ Operators</div>
        <hr>
        <div class = "text">
          Operators are used to perform operations on variables and values.
          <br>
          In the example below, we use the <code class = "code-words">+</code> operator to add together two values:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int x = 100 + 50;
            </div>
          </div>
        </div>
        <div class = "text">Although the <code class = "code-words">+</code> operator is often used to add together two values, like in the example above, it can also be used to add together a variable and a value, or a variable and another variable:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int sum1 = 100 + 50;        // 150 (100 + 50)
              <br>
              <br>
              sum2 = sum1 + 250;      // 400 (150 + 250)
              <br>
              <br>
              int sum3 = sum2 + sum2;     // 800 (400 + 400)
            </div>
          </div>
        </div>
        <div class = "text">C++ divides the operators into the following groups:</div>
        <ul>
          <li>Arithmetic operators</li>
          <li>Assignment operators</li>
          <li>Comparison operators</li>
          <li>Logical operators</li>
          <li>Bitwise operators</li>
        </ul>
        <hr>
        <div class = "heading-two">Arithmetic Operators</div>
        <div class = "text">Arithmetic operators are used to perform common mathematical operations.</div>
        <table>
          <tr>
            <th>Operator</th>
            <th>Name</th>
            <th>Description</th>
            <th>Example</th>
          </tr>
          <tr>
            <td>+</td>
            <td>Addition</td>
            <td>Adds together two values</td>
            <td>x + y</td>
          </tr>
          <tr>
            <td>-</td>
            <td>Subtraction</td>
            <td>Subtracts one value from another</td>
            <td>x - y</td>
          </tr>
          <tr>
            <td>*</td>
            <td>Multiplication</td>
            <td>Multiplies two values</td>
            <td>x * y</td>
          </tr>
          <tr>
            <td>/</td>
            <td>Division</td>
            <td>Divides one value by another</td>
            <td>x / y</td>
          </tr>
          <tr>
            <td>%</td>
            <td>Modulus</td>
            <td>Returns the division remainder</td>
            <td>x % y</td>
          </tr>
          <tr>
            <td>++</td>
            <td>Increment</td>
            <td>Increases the value of a variable by 1</td>
            <td>++x</td>
          </tr>
          <tr>
            <td>--</td>
            <td>Decrement</td>
            <td>Decreases the value of a variable by 1</td>
            <td>--x</td>
          </tr>
        </table>
        <hr>
        <div class = "heading-two">Assignment Operators</div>
        <div class = "text">
          Assignment operators are used to assign values to variables.
          <br>
          <br>
          In the example below, we use the assignment operator (<code class = "code-words">=</code>) to assign the value 10 to a variable called x:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int x = 10;
            </div>
          </div>
        </div>
        <div class = "text">The addition assignment operator (<code class = "code-words">+=</code>) adds a value to a variable:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int x = 10;
              <br>
              x += 5;
            </div>
          </div>
        </div>
        <div class = "text">A list of all assignment operators:</div>
        <table>
          <tr>
            <th>Operator</th>
            <th>Example</th>
            <th>Same As</th>
          </tr>
          <tr>
            <td>=</th>
            <td>x = 5</th>
            <td>x = 5</th>
          </tr>
          <tr>
            <td>+=</td>
            <td>x += 3</td>
            <td>x = x + 3</td>
          </tr>
          <tr>
            <td>-=</td>
            <td>x -= 3</td>
            <td>x = x - 3</td>
          </tr>
          <tr>
            <td>*=</td>
            <td>x *= 3</td>
            <td>x = x * 3</td>
          </tr>
          <tr>
            <td>/=</td>
            <td>x /= 3</td>
            <td>x = x / 3</td>
          </tr>
          <tr>
            <td>%=</td>
            <td>x %= 3</td>
            <td>x = x % 3</td>
          </tr>
          <tr>
            <td>&=</td>
            <td>x &= 3</td>
            <td>x = x & 3</td>
          </tr>
          <tr>
            <td>|=</td>
            <td>x |= 3</td>
            <td>x = x | 3</td>
          </tr>
          <tr>
            <td>^=</td>
            <td>x ^= 3</td>
            <td>x = x ^ 3</td>
          </tr>
          <tr>
            <td>>>=</td>
            <td>x >>= 3</td>
            <td>x = x >> 3</td>
          </tr>
          <tr>
            <td><<=</td>
            <td>x <<= 3</td>
            <td>x = x << 3</td>
          </tr>
        </table>
        <hr>
        <div class = "heading-two">Comparison Operators</div>
        <div class = "text">
          Comparison operators are used to compare two values (or variables). This is important in programming, because it helps us to find answers and make decisions.
          <br>
          <br>
          The return value of a comparison is either <code class = "code-words">1</code> or <code class = "code-words">0</code>, which means true (1) or false (0). These values are known as Boolean values, and you will learn more about them in the Booleans and If..Else chapter.
          <br>
          <br>
          In the following example, we use the greater than operator (<code class = "code-words">></code>) to find out if 5 is greater than 3:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              int x = 5;
              <br>
              int y = 3;
              <br>
              cout << (x > y); // returns 1 (true) because 5 is greater than 3
            </div>
          </div>
        </div>
        <div class = "text">A list of all comparison operators:</div>
        <table>
          <tr>
            <th>Operator</th>
            <th>Name</th>
            <th>Example</th>
          </tr>
          <tr>
            <td>==</td>
            <td>Equal to</td>
            <td>x == y</td>
          </tr>
          <tr>
            <td>!=</td>
            <td>Not equal</td>
            <td>x != y</td>
          </tr>
          <tr>
            <td>></td>
            <td>Greater than</td>
            <td>x > y</td>
          </tr>
          <tr>
            <td><</td>
            <td>Less than</td>
            <td>x < y</td>
          </tr>
          <tr>
            <td>>=</td>
            <td>Greater than or equal to</td>
            <td>x >= y</td>
          </tr>
          <tr>
            <td><=</td>
            <td>Less than or equal to</td>
            <td>x <= y</td>
          </tr>
        </table>
        <hr>
        <div class = "heading-two">Logical Operators</div>
        <div class = "text">
          As with comparison operators, you can also test for true (<code class = "code-words">1</code>) or false (<code class = "code-words">0</code>) values with logical operators.
          <br>
          <br>
          Logical operators are used to determine the logic between variables or values:
        </div>
        <table>
          <tr>
            <th>Operator</th>
            <th>Name</th>
            <th>Description</th>
            <th>Example</th>
          </tr>
          <tr>
            <td>&&</td>
            <td>Logical and</td>
            <td>Returns true if both statements are true</td>
            <td>x < 5 &&  x < 10</td>
          </tr>
          <tr>
            <td>||</td>
            <td>Logical or</td>
            <td>Returns true if one of the statements is true</td>
            <td>x < 5 || x < 4</td>
          </tr>
          <tr>
            <td>!</td>
            <td>Logical not</td>
            <td>Reverse the result, returns false if the result is true</td>
            <td>!(x < 5 && x < 10)</td>
          </tr>
        </table>
        <div></div>
        <button class ="next" onclick="window.location.href='{% url 'course' 'Math'%}'">Next</button>
        <button class ="previous" onclick="window.location.href='{% url 'course' 'Data Entry'%}'"> Previous </button>
      
    </main>
{% endblock %}