{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Inheritance and Polymorphism</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Inheritance and Polymorphism</div>
        <hr>
        <div class = "heading-two">Inheritance</div>
        <div class = "text">
          In C++, it is possible to inherit attributes and methods from one class to another. We group the "inheritance concept" into two categories:
          <ul>
            <li>derived class (child) - the class that inherits from another class</li>
            <li>base class (parent) - the class being inherited from</li>
          </ul>
          To inherit from a class, use the <code class = "code-words">:</code> symbol.
          <br>
          <br>
          In the example below, the <code class = "code-words">Car</code> class (child) inherits the attributes and methods from the <code class = "code-words">Vehicle</code> class (parent):
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Base class
              <br>
              class Vehicle {
                <br>
                &nbsp;&nbsp;public: 
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;string brand = "Ford";
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;void honk() {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Tuut, tuut! \n" ;
                    <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
                  <br>
              };
              <br>
              <br>
              // Derived class
              <br>
              class Car: public Vehicle {
                <br>
                &nbsp;&nbsp;public: 
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;string model = "Mustang";
                  <br>
              };
              <br>
              <br>
              int main() {
                <br>
                &nbsp;&nbsp;Car myCar;
                <br>
                &nbsp;&nbsp;myCar.honk();
                <br>
                &nbsp;&nbsp;cout << myCar.brand + " " + myCar.model;
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
        <div class = "note">
          Why And When To Use "Inheritance"?
          <br>
          <br>
          - It is useful for code reusability: reuse attributes and methods of an existing class when you create a new class.
        </div>
        <hr>
        <div class = "heading-two">Multilevel Inheritance</div>
        <div class = "text">
          A class can also be derived from one class, which is already derived from another class.
          <br>
          <br>
          In the following example, <code class = "code-words">MyGrandChild</code> is derived from class <code class = "code-words">MyChild</code> (which is derived from <code class = "code-words">MyClass</code>).
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Base class (parent)
              <br>
              class MyClass {
                <br>
                &nbsp;&nbsp;public:
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;void myFunction() {
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Some content in parent class." ;
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;}
              };
              <br>
              <br>
              // Derived class (child)
              <br>
              class MyChild: public MyClass {
              <br>
              };
              <br>
              <br>
              // Derived class (grandchild)
              <br>
              class MyGrandChild: public MyChild {
              <br>
              };
              <br>
              <br>
              int main() {
                <br>
                &nbsp;&nbsp;MyGrandChild myObj;
                <br>
                &nbsp;&nbsp;myObj.myFunction();
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Multiple Inheritance</div>
        <div class = "text">
          A class can also be derived from more than one base class, using a comma-separated list:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Base class
              <br>
              class MyClass {
                <br>
                &nbsp;&nbsp;public:
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;void myFunction() {
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Some content in parent class." ;
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;}
                    <br>
              };
              <br>
              <br>
              // Another base class
              <br>
              class MyOtherClass {
                <br>
                &nbsp;&nbsp;public:
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;void myOtherFunction() {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Some content in another class." ;
                    <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
                  <br>
              };
              <br>
              <br>
              // Derived class
              <br>
              class MyChildClass: public MyClass, public MyOtherClass {
                <br>
              };
              <br>
              <br>
              int main() {
                <br>
                &nbsp;&nbsp;MyChildClass myObj;
                <br>
                &nbsp;&nbsp;myObj.myFunction();
                <br>
                &nbsp;&nbsp;myObj.myOtherFunction();
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Inheritance Access Specifiers</div>
        <div class = "text">
          You learned from the Access Specifiers topic that there are three specifiers available in C++. Until now, we have only used <code class = "code-words">public</code> (members of a class are accessible from outside the class) and <code class = "code-words">private</code> (members can only be accessed within the class). The third specifier, <code class = "code-words">protected</code>, is similar to <code class = "code-words">private</code>, but it can also be accessed in the inherited class:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Base class
              <br>
              class Employee {
                <br>
                &nbsp;&nbsp;protected: // Protected access specifier
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int salary;
                  <br>
              };
              <br>
              <br>
              // Derived class
              <br>
              class Programmer: public Employee {
                <br>
                &nbsp;&nbsp;public:
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int bonus;
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;void setSalary(int s) {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;salary = s;
                    <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;int getSalary() {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return salary;
                    <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
                  <br>
              };
              <br>
              <br>
              int main() {
                <br>
                &nbsp;&nbsp;Programmer myObj;
                <br>
                &nbsp;&nbsp;myObj.setSalary(50000);
                <br>
                &nbsp;&nbsp;myObj.bonus = 15000;
                <br>
                &nbsp;&nbsp;cout << "Salary: " << myObj.getSalary() << "\n";
                <br>
                &nbsp;&nbsp;cout << "Bonus: " << myObj.bonus << "\n";
                <br>
                &nbsp;&nbsp;return 0;
                <br>
              }
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-one">C++ Polymorphism</div>
        <hr>
        <div class = "heading-two">Polymorphism</div>
        <div class = "text">
          Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by inheritance.
          <br>
          <br>
          Like we specified in the previous chapter; Inheritance lets us inherit attributes and methods from another class. Polymorphism uses those methods to perform different tasks. This allows us to perform a single action in different ways.
          <br>
          <br>
          For example, think of a base class called <code class = "code-words">Animal</code> that has a method called <code class = "code-words">animalSound()</code>. Derived classes of Animals could be Pigs, Cats, Dogs, Birds - And they also have their own implementation of an animal sound (the pig oinks, and the cat meows, etc.):
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Base class
              <br>
              class Animal {
                <br>
                public:
                  <br>
                  void animalSound() {
                    <br>
                    cout << "The animal makes a sound \n";
                    <br>
                }
              };
              <br>
              <br>
              // Derived class
              <br>
              class Pig : public Animal {
                <br>
                public:
                  <br>
                  void animalSound() {
                    <br>
                    cout << "The pig says: wee wee \n";
                    <br>
                  }
              };
              <br>
              <br>
              // Derived class
              <br>
              class Dog : public Animal {
                <br>
                public:
                  <br>
                  void animalSound() {
                    <br>
                    cout << "The dog says: bow wow \n";
                  <br>
                  }
                <br>
              };
            </div>
          </div>
        </div>
        <div class = "note">Remember from the Inheritance topic that we use the <code class = "code-words">:</code> symbol to inherit from a class.</div>
        <div class = "text">
          Now we can create <code class = "code-words">Pig</code> and <code class = "code-words">Dog</code> objects and override the <code class = "code-words">animalSound()</code> method:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // Base class
              <br>
              class Animal {
                <br>
                &nbsp;&nbsp;public:
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;void animalSound() {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "The animal makes a sound \n";
                    <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
                <br>
              };
              <br>
              <br>
              // Derived class
              <br>
              class Pig : public Animal {
                <br>
                &nbsp;&nbsp;public:
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;void animalSound() {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "The pig says: wee wee \n";
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;}
              <br>
            };
            <br>
            <br>
            // Derived class
            <br>
            class Dog : public Animal {
              <br>
              &nbsp;&nbsp;public:
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;void animalSound() {
                  <bR>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "The dog says: bow wow \n";
                  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;}
              <br>
            };
            <br>
            <br>
            int main() {
                <br>
                &nbsp;&nbsp;Animal myAnimal;
                <br>
                &nbsp;&nbsp;Pig myPig;]
                <br>
                &nbsp;&nbsp;Dog myDog;
                <br>
                &nbsp;&nbsp;myAnimal.animalSound();
                <br>
                &nbsp;&nbsp;myPig.animalSound();
                <br>
                &nbsp;&nbsp;myDog.animalSound();
                <br>
                &nbsp;&nbsp;return 0;
                <br>
            }
            </div>
          </div>
        </div>
        <div class = "note">
          Why And When To Use "Inheritance" and "Polymorphism"?
          <br>
          <br>
          - It is useful for code reusability: reuse attributes and methods of an existing class when you create a new class.
        </div>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Overriding'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Encapsulation'%}'"> Previous </button>    
    </main>
{% endblock %}