{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ References</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ References</div>
      <hr>
        <div class = "heading-two">Creating References</div>
        <div class = "text">A reference variable is a "reference" to an existing variable, and it is created with the <code class = "code-words">&</code> operator:</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string food = "Pizza";  // food variable
              <br>
              string &meal = food;    // reference to food
            </div>
          </div>
        </div>
        <div class = "text">
          Now, we can use either the variable name <code class = "code-words">food</code> or the reference name <code class = "code-words">meal</code> to refer to the <code class = "code-words">food</code> variable:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string food = "Pizza";
              <br>
              string &meal = food;
              <br>
              <br>
              cout << food << "\n";  // Outputs Pizza
              <br>
              cout << meal << "\n";  // Outputs Pizza
            </div>
          </div>
        </div>
        <hr>
        <div class = "heading-two">Memory Address</div>
        <div class = "text">
          In the example from the previous page, the <code class = "code-words">&</code> operator was used to create a reference variable. But it can also be used to get the memory address of a variable; which is the location of where the variable is stored on the computer.
          <br>
          <br>
          When a variable is created in C++, a memory address is assigned to the variable. And when we assign a value to the variable, it is stored in this memory address.
          <br>
          <br>
          To access it, use the <code class = "code-words">&</code> operator, and the result will represent where the variable is stored:
          <br>
          <br>
          Example
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              string food = "Pizza";
              <br>
              <br>
              cout << &food; // Outputs 0x6dfed4
            </div>
          </div>
        </div>
        <div class = "text">Note: The memory address is in hexadecimal form (0x..). Note that you may not get the same result in your program.</div>
        <div class = "note">
          <div class = "text">
            And why is it useful to know the memory address?
            <br>
            <br>
            References and Pointers (which you will learn about in the next chapter) are important in C++, because they give you the ability to manipulate the data in the computer's memory - which can reduce the code and improve the performance.
            <br>
            <br>
            These two features are one of the things that make C++ stand out from other programming languages, like Python and Java.
          </div>
        </div>
      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Pointers'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Array & String'%}'"> Previous </button>    
    </main>
{% endblock %}