{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>C++ Enum Type</title>
{% endblock %}
{% block content %}
    <main class="content">
      <div class = "heading-one">C++ Enum Type</div>
        <hr>
        <div class = "heading-two">Enum type concept</div>
        <div class = "text">
          Enumeration (Enumerated type) is a user-defined data type that can be assigned some limited values. These values are defined by the programmer at the time of declaring the enumerated type.
          <br>
          <br>
          If we assign a float value to a character value, then the compiler generates an error. In the same way, if we try to assign any other value to the enumerated data types, the compiler generates an error. Enumerator types of values are also known as enumerators. It is also assigned by zero the same as the array. It can also be used with switch statements.
          <br>
          <br>
          Syntax:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              enum enumerated-type-name
              <br>
              {
                <br>
                &nbsp;&nbsp;value1, value2, value3…..valueN
                <br>
              };
            </div>
          </div>
        </div>
        <div class = "text">For Example: If a gender variable is created with the value male or female. If any other value is assigned other than male or female then it is not appropriate. In this situation, one can declare the enumerated type in which only male and female values are assigned.</div>
        <div class = "heading-two">Enum in C++</div>
        <div class = "text">
          The enum keyword is used to declare enumerated types after that enumerated type name was written then under curly brackets possible values are defined. After defining Enumerated type variables are created. 
          <br>
          Enumerators can be created in two types:-
        </div>
        <ul>
          <li>It can be declared during declaring enumerated types, just add the name of the variable before the semicolon. or,</li>
          <li>Besides this, we can create enumerated type variables as the same as the normal variables.</li>
        </ul>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              enumerated-type-name variable-name = value;
            </div>
          </div>
        </div>
        <div class = "text">
          By default, the starting code value of the first element of the enum is 0 (as in the case of the array). But it can be changed explicitly.
          <br>
          <br>
          Example:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              enum enumerated-type-name{value1=1, value2, value3};
            </div>
          </div>
        </div>
        <div class = "text">
          Also, The consecutive values of the enum will have the next set of code value(s).
          <br>
          <br>
          Example:
        </div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              //first_enum is the enumerated-type-name
              <br>
              enum first_enum{value1=1, value2=10, value3};
              <br>
              <br>
              In this case, 
              <br>
              first_enum e;
              <br>
              e=value3;
              <br>
              cout&lt;&lt;e;
              <br>
              //Output: 11
            </div>
          </div>
        </div>
        <div class = "text">Example</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // C++ Program to Demonstrate the Functioning of Enumerators 
              <br>
              // with an example of Gender 
              <br>
              #include  &lt;bits/stdc++.h&gt;
              <br>
              using namespace std; 
              <br>
              <br>
              int main() 
              <br>
              { 
                <br>
                &nbsp;&nbsp;// Defining enum Gender 
	              <br>
                &nbsp;&nbsp;enum Gender { Male, Female }; 
                <br>
                <br>
                &nbsp;&nbsp;// Creating Gender type variable 
	              <br>
                &nbsp;&nbsp;Gender gender = Male;
                <br>
                &nbsp;&nbsp;switch (gender) { 
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;case Male: 
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Gender is Male"; 
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break; 
	                <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;case Female: 
		                <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Gender is Female"; 
		                <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break; 
	                <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;default: 
		                <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cout << "Value can be Male or Female"; 
                  <br>
                  &nbsp;&nbsp;}
                <br> 
	              &nbsp;&nbsp;return 0;
                <br> 
              }
              <br>
              //Output: Gender is Male
            </div>
          </div>
        </div>
        <div class = "text">Example</div>
        <div class="outer-container">
          <i class="fas fa-code code-icon"></i>
          <div class="code-box">
            <div class="code-content">
              // C++ Program to Demonstrate the Functioning of Enumerators 
              <br>
              // with an Example of Year 
              <br>
              #include  &lt;bits/stdc++.h&gt;
              <br>
              using namespace std; 
              <br>
              <br>
              // Defining enum Year
              <br>
              enum year { 
                <br>
                &nbsp;&nbsp;Jan, 
                <br>
                &nbsp;&nbsp;Feb, 
                <br>
                &nbsp;&nbsp;Mar, 
                <br>
                &nbsp;&nbsp;Apr, 
                <br>
                &nbsp;&nbsp;May, 
                <br>
                &nbsp;&nbsp;Jun, 
                <br>
                &nbsp;&nbsp;Jul, 
                <br>
                &nbsp;&nbsp;Aug, 
                <br>
                &nbsp;&nbsp;Sep, 
                <br>
                &nbsp;&nbsp;Oct, 
                <br>
                &nbsp;&nbsp;Nov, 
                <br>
                &nbsp;&nbsp;Dec 
                <br>
              };
              <br>
              <br>
              // Driver Code 
              <br>  
              int main() 
              <br>
              { 
                <br>
                &nbsp;&nbsp;int i; 
	              <br>
                <br>
                &nbsp;&nbsp;// Traversing the year enum
                <br>
                &nbsp;&nbsp;for (i = Jan; i <= Dec; i++)
                <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;cout << i << " ";
                <br>
                <br>
	              &nbsp;&nbsp;return 0;
                <br> 
              }
              <br>
              //Output: 0 1 2 3 4 5 6 7 8 9 10 11
            </div>
          </div>
        </div>

      <div></div>
      <button class ="next" onclick="window.location.href='{% url 'course' 'Exceptions Handling'%}'">Next</button>
      <button class ="previous" onclick="window.location.href='{% url 'course' 'Constants'%}'"> Previous </button>    
    </main>
{% endblock %}